[package]
name = "seismic"
version = "0.2.1"
edition = "2021"
license = "MIT"
description = "Seismic is designed for effective and efficient KNN retrieval over learned sparse embeddings."
repository = "https://github.com/TusKANNy/seismic"
readme = "README.md"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = ["prefetch"]
prefetch = []

[lib]
name = "seismic"

# "cdylib" is necessary to produce a shared library for Python to import from.
crate-type = ["cdylib", "lib"]

[dependencies]
serde = { version = "1.0", features = ["derive"] }
bincode = "1.3.3"
clap = { version = "4.3.19", features = ["derive"]}
rayon = "1.8.0"
half = { version = "2.3.1", features = ["serde", "std", "num-traits"]}
num-traits = "0.2.17"
itertools = "0.13.0"
rand = "0.8.5"
qwt = {version = "0.2.0"}


#pyo3 = { version = "0.19.2", features = ["extension-module"] }
pyo3 = { version = "0.23.0", features = ["extension-module"] } #NOTE: pyo3 and numpy require the same version at the moment

#numpy = "0.19.0"
numpy = "0.23.0"

indicatif = {version = "0.17.8", features = ["rayon"]}

#ndarray = "0.16.1"
#ndarray-npy = "0.9.1"

ndarray = "0.15.6"
ndarray-npy = "0.8.1"

serde_json = "1.0.120"


flate2 = "1.0"
tar = "0.4"


[profile.release]
opt-level = 3
lto = true
debug = true
